body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #1e293b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #334155;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #38bdf8;
  border: none;
  padding: 10px;
  color: white;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #0ea5e9;
}

.back {
  display: block;
  margin-top: 15px;
  color: #cbd5e1;
  text-decoration: none;
}
.back:hover {
  text-decoration: underline;
}
