 html,
 body {
     height: 100%;
 }
 body {
     font-family: Arial, sans-serif;
     background: rgb(222, 133, 153);
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .container {
     width: 80%;
     max-width: 600px;
     background: rgb(225, 204, 204);
     margin-top: 50px;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
     position: relative;
     top: 20%;
     left:0%
 }
.swap-button {
     position: absolute;
     background: rgb(64, 188, 64) ;
     color: white;
     border: none;
     padding: 8px 12px;
     border-radius: 5px;
     cursor: pointer;
     top:65px;
     margin-right:120px;
 }
 .button-container {
     position: relative;
 }
 table {
     margin: auto;
 }
 td {
     padding: 10px;
 }
 #useremail {
     font-size: 0.9em;
     color: gray;
     margin-top: 10px;
 }
 .bus-card {
     border: 1px solid #ccc;
     padding: 12px;
     margin-top: 10px;
     border-radius: 8px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     text-align: left;
 }
 .fromicon {
     width: 24px;
     height: 30px;
     margin-right: 20px;
     position: relative;
     bottom: 20px;
 }
 .toicon {
     width: 24px;
     height: 30px;
     margin-right: 20px;
     position: relative;
     bottom: 50px;
     color: red;
 }
 .swapicon {
     width: 24px;
     height: 20px;
     margin-right: 20px;
     position: relative;
     bottom: 32px;
 }
 #from {
     position: relative;
     right: 10px;
     height: 30px;
     width: 250px;
     bottom: 20px;
       border: 2px solid #1a1a1a;
 }
 #to {
     position: relative;
     right: 10px;
     height: 30px;
     width: 250px;
     bottom: 50px;
       border: 2px solid #1a1a1a;
 }
 #swapBtn {
     position: relative;
     left: 250px;
 }
 .sub-button {
     background-color: rgb(64, 188, 64);
     color: aliceblue;
     height: 30px;
     width: 90px;
     font-weight: bold;
     position: relative;
     top: 65px;
     right: 20px;
     border-radius: 10px;
     margin: 1;
     border: none;
 }
 button:active {
     background-color: rgb(23, 100, 37);
 }
 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
 }