 html, body {
    height: 100%;
  }
 body {
      font-family: Arial, sans-serif;
      background:black;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .container {
      width: 80%;
      max-width: 600px;
      background: white;
      margin-top: 50px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      text-align: center;
    }
    .swap-button {
      background: green;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px 5px;
    }
    table {
      margin: auto;
    }
    td {
      padding: 10px;
    }
    #useremail {
      font-size: 0.9em;
      color: gray;
      margin-top: 10px;
    }
    .bus-card {
      border: 1px solid #ccc;
      padding: 12px;
      margin-top: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-align: left;
    }
    .fromicon, .toicon{
      width: 24px;           
  height: 20px;           
  margin-right: 20px;       
  
    }
    
    .swapicon{
      width: 24px;           
  height: 20px;           
  margin-right: 20px;     
  filter: invert(50%);    
  
    }
    #from , #to{
      position: relative;
      right: 10px;

    }
   